.contenedor {
  backdrop-filter: blur(.125rem);
  background-color: rgba(0, 0, 0, .80);
  border-radius: 1.5rem;
  box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
  color: white;
  max-width: 56rem;
  padding: 3.75rem;
  transition: all .3s ease-in-out;
}

.contenedor__elementos {
  display: grid;
  grid-template-columns: repeat(2, minmax(320px, 1fr));
  gap: 3.75rem;
  justify-content: space-between;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formulario__etiqueta {
  position: relative;
}

.formulario__etiqueta__icono {
  color: #333;
  left: 10px;
  position: absolute;
  top: 10px;
}

.formulario__campo {
  border-radius: .25rem;
  border: none;
  box-sizing: border-box;
  color: var(--color-texto);
  font-family: var(--tipografia);
  padding: 10px 10px 10px 40px;
  transition: all .3s ease-in-out;
  width: 100%;
}

.formulario__campo:focus {
  outline: var(--color-primario) solid .1rem;
}

.formulario__boton {
  background-color: var(--color-primario);
  border-radius: .25rem;
  border: none;
  color: black;
  cursor: pointer;
  font-family: var(--tipografia);
  font-weight: bold;
  padding: 10px;
  transition: all .3s ease-in-out;
  width: 100%;
}

.formulario__boton:hover {
  background-color: var(--color-secundario);
}

@media screen and (max-width: 768px) {
  .contenedor {
    padding: 10vw;
  }
  .contenedor__elementos {
    gap: 2rem;
    grid-template-columns: 1fr;
  }
}