:root {
  --color-primario: #0f385a;
  --color-secundario: #002543;
  --color-texto: #002543;
  --color-boton: #f0f0f0;
  --color-boton-hover: #FFFFFF;
  --tipografia: "Montserrat", serif;
  --color-borde: rgba(0,0,0, 0.5);
  --fondo-contenedor: rgba(255, 255, 255, 0.4);
}

/* Add prefer dark mode colors */
@media (prefers-color-scheme: dark) {
  :root {
    --color-primario: #1fb2de;
    --color-secundario: #FFFFFF;
    --color-texto: #dedede;
    --color-boton: #FFFFFF;
    --color-boton-hover: #0f385a;
    --tipografia: "Montserrat", serif;
    --color-borde: rgba(255, 255, 255, 0.5);
    --fondo-contenedor: rgba(0, 0, 0, 0.5);
  }
}

*{
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-family: var(--tipografia);
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-image: url(https://wallpapers.com/images/featured/universidad-de-cambridge-k3uqfq0l7bwrrmpr.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  font-size: 16px;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body:after {
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100lvw;
  z-index: -1;
}

h1,
h2,
h3 {
  margin: 0;
}